<a href="https://colab.research.google.com/github/FNeffati/Fehmi/blob/master/Assignment_Week_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**FUN WITH SPREADSHEET DATA**

In the worksheet this week, we had a bunch of examples of working with spreadsheet data in an external file. In the assignment, we will build on the examples in the Worksheet.

You can find the worksheet here: https://github.com/mlepinski/Python-Worksheets/blob/master/Week_12_Worksheet.ipynb

For these problems you should use the state data file in my GitHub repository. https://raw.githubusercontent.com/mlepinski/Python-Worksheets/master/states.csv

In [1]:
import pandas

file_name = "https://raw.githubusercontent.com/mlepinski/Python-Worksheets/master/states.csv"
state_data = pandas.read_csv(file_name)

state_data.head()

         Name State    Area       Pop
0     Alabama    AL   52423   4040587
1      Alaska    AK  656424    550043
2     Arizona    AZ  114006   3665228
3    Arkansas    AR   53182   2350725
4  California    CA  163707  29769021

1) The median is the middle value of a set of numbers. (https://en.wikipedia.org/wiki/Median) 

Write Python code to find the Median population of a state. Since the state data includes the District of Columbia, the median would be the state with the  26th highest population.

2) Write Python code to figure out how many state names start with the letter "M". 

Recall that if you have a string, you can get the first letter of the string by using **[0]**. For example, if **name** is a string, then **name[0]** is the first letter of the string

3) Population density is the number of people divided by the amount of area. Write Python code that adds a column to the state data that lists the population density of the state. 

Note: You can print out the **head()** of the data table to make sure this worked.

4) Write Python code to figure out which state has the largest population density? the least population density? the median population density?

In [51]:
## Question 1:

import pandas


file_name = "https://raw.githubusercontent.com/mlepinski/Python-Worksheets/master/states.csv"
state_data = pandas.read_csv(file_name)

all = list(state_data["Pop"])
all.sort()
print(all[26])


##Question 2:

counter = 0
for (row_num, row)  in state_data.iterrows():
  if row["Name"][0] == "M":
    counter += 1

print(counter)

##Question 3 mixed with question 4:

state_data["Density"] = state_data["Pop"] / state_data["Area"]

min_den = state_data["Density"].min()
mean_den = state_data["Density"].mean()
max_den = state_data["Density"].max()

print("The min density is " + str(min_den))
print("The mean desity is " + str(mean_den))
print("The max density is " + str(max_den))


state_data.head()

3468703
8
The min density is 0.8379385884733038
The mean desity is 312.12671990671987
The max density is 8925.0

         Name State    Area       Pop     Density
0     Alabama    AL   52423   4040587   77.076608
1      Alaska    AK  656424    550043    0.837939
2     Arizona    AZ  114006   3665228   32.149431
3    Arkansas    AR   53182   2350725   44.201516
4  California    CA  163707  29769021  181.843299